.mainsCards {
    background: #282828;
    width: 16rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    position: relative;
    filter: drop-shadow(2px 4px 8px gray);
}
.topimg {
  /* flex-grow: 1; */
  /* background: aliceblue; */
  width: 90%;
  height: 79%;
  margin-top: 13px;
}
.bottom {
    height: 32%;
    width: 89%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.topimg img{
    width: 100%;
    height: 100%;
}
.ratingdiv{
    display: flex;
    width: 87%;
    height: 15%;
    position: absolute;
    top: 6%;
    /* background: rgba(0, 0, 0, 0.578); */
    justify-content: space-between;
}
.ratingdiv span{
    background: black;
    color: white;
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}
/* show trailer div  */

.showtrailerdiv{
    display: flex;
    background: red;
    width: 100% ;
    height: 80vh;
    position: absolute;



}